<% provide(:title, "Home") %>


<div class="mainCont">
    
    
<h1>Well to customer service for our food Application</h1>
<p>Please login to proceed</p>
<br>
<br>
<p>Customer information can be logged once sign in confirmed</p>
</div>

